body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe5ef;
}

.header_text {
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


.container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
        max-width: px;
        margin: 20px;
}

.p {
    font-family: sans-serif;
}





